.section {
  width: 80%;
  margin: 100px auto;
}

.title {
  font-weight: bold;
  padding-bottom: 20px;
}

.contentsWrapper {
  display: flex;
  overflow-x: auto;
}

.contents {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 2rem;
  border-radius: 10px;
  background-color: white;
}

.posterImage {
  width: 100%;
}

.description {
  padding: 10px;
  color: black;
}

.movieName {
  padding-bottom: 5px;
  font-weight: bold;
}
